main {
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    color: white;
    margin: 50px 30px;
}

main section {
    /* position: relative; */
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
}

.see-more-link {
    cursor: pointer;
    font-size: 1rem;
    color: #c3c3c3;
}

.see-more-link:hover {
    color: gray;
}

.movie-list {
    border-radius: 5px;
}

@media (max-width: 640px) {
    .section-header {
        font-size: 0.925rem;
    }

    main {
        margin: 10px 0px;
    }
}
