/* Header styles */
.header {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    padding: 10px 50px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 50;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #f8f8f8;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.5s,
        visibility 0.5s;
}

.logo:hover {
    transform: scale(1.1);
    color: #e91e63;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon-container,
.close-icon-container {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-icon-container img,
.close-icon-container img {
    width: 100%;
}

.search-container {
    display: none;
    align-items: center;
    opacity: 0;
    width: 0;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.search-form {
    display: flex;
    align-items: center;
    background: #2c2c2c;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    width: 100%;
}

.search-input {
    border: none;
    padding: 5px;
    font-size: 16px;
    outline: none;
    background: transparent;
    color: #f8f8f8;
    transition: width 0.5s;
    width: 100%;
}

.search-button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .search-input {
        /* width: 100px; */
    }

    .logo {
        font-size: 1.5rem;
    }

    .header {
        padding: 10px 20px;
    }
}
