.card {
<<<<<<< HEAD
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
=======
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 2px;
>>>>>>> 256bbded9561a7517389c7ac9f5ecd02ac883653
}

.card .img-container {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.card img.cover {
<<<<<<< HEAD
    width: 100%;
    height: auto;
    display: block;
    transition: all ease-in-out 300ms;
}

.card .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* background: rgba(235, 89, 81, 0.9); */
    background: rgba(0, 0, 0, 0.9);
    background-blend-mode: lighten;
    /* mix-blend-mode: hard-light; */
    padding: 10px;
    transform: translateY(100%);
    border-radius: 0 0 6px 6px;
    transition: all 0.3s ease-in-out;
=======
  width: 100%;
  height: auto;
  display: block;
}

.card .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
>>>>>>> 256bbded9561a7517389c7ac9f5ecd02ac883653
}

.card:hover .details {
  transform: translateY(0);
}
.card:hover img {
    transform: scale(1.125);
}

.title {
<<<<<<< HEAD
    font-size: 1.5rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: whitesmoke;
}

.release-date {
    font-size: 1.1rem;
    font-style: italic;
    color: whitesmoke;
    margin-bottom: 5px;
}

.click-indicator {
    font-size: 1rem;
    color: lightgray;
    margin-top: 5px;
}

@media (max-width: 640px) {
    .title {
        font-size: 0.825rem;
    }
    .release-date {
        font-size: 0.725rem;
    }
    .click-indicator {
        font-size: 0.625rem;
    }
=======
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}

.release-date {
  font-size: 12px;
  font-style: italic;
  color: #444;
  margin-bottom: 5px;
}

.click-indicator {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: (0, 0, 235, 0.3) 0px 2px 15px 2px;
>>>>>>> 256bbded9561a7517389c7ac9f5ecd02ac883653
}
