<div class="card" loading="lazy" (click)="onMouseUp()">
    <div class="img-container">
        <img
            class="cover"
            [src]="getFullImageUrl(movie.poster_path)"
            alt="movie poster"
            (error)="handleImageError($event)"
        />
    </div>
    <div class="details">
        <h2 class="title">{{ movie.title }}</h2>
        <p class="release-date">Release Date: {{ movie.release_date }}</p>
        <p class="click-indicator">Click for details</p>
    </div>
</div>
