.container {
  max-width: 1280px;
  margin: 0 auto;
}

.searchBar {
  padding: 10px 20px;
  border-bottom: 1px solid skyblue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: skyblue;
  text-decoration: none;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .search-input {
    width: 150px;
  }
}
