<main>
    @for(homePageSectionDetail of homePageSectionDetails; track
    homePageSectionDetail.sectionTitle) { @if(!homePageSectionDetail?.lazyDelay)
    {
    <app-movies-section [sectionTitle]="homePageSectionDetail.sectionTitle">
        <app-movie [movieType]="homePageSectionDetail.movieType"></app-movie>
    </app-movies-section>
    } @else { @defer (on viewport) {
    <app-movies-section [sectionTitle]="homePageSectionDetail.sectionTitle">
        <app-movie [movieType]="homePageSectionDetail.movieType"></app-movie>
    </app-movies-section>
    } @placeholder (minimum 3s) {
    <section><app-placeholder></app-placeholder></section>
    } } }
</main>
