<div
    class="background"
    [style.backgroundImage]="'url(/assets/images/bg-home.jpg)'"
>
    <div class="overlay"></div>
</div>
<main>
    @for(homePageSectionDetail of homePageSectionDetails; track
    homePageSectionDetail.sectionTitle) {
    <app-movies-section
        [sectionTitle]="homePageSectionDetail.sectionTitle"
        [seeMoreUrl]="homePageSectionDetail.seeMoreUrl"
    >
        <app-movie [movieType]="homePageSectionDetail.movieType"></app-movie>
    </app-movies-section>
    }
</main>
